## System
*.DS_Store

## User settings
xcuserdata/
Local.xcconfig
*.local.entitlements

## Web workspace
WebApp/node_modules/
ResourceModules/node_modules/
WebApp/*.tsbuildinfo
WebApp/vite.config.js
WebApp/vite.config.d.ts
.private/
